@media only screen and (max-width: 975px) {

  .about img {
    height: auto;
    width: 300px;
  }

  .about-text {
    width: 50%;
  }

  .about-text p {

    line-height: 28px;
    font-size: 15px;
    margin-bottom: 4px;
  }

}

@media only screen and (max-width: 875px) {
  nav ul li {
    padding: 10px 10px;
  }

  .content {

    top: 75%;

  }
}

@media only screen and (max-width: 725px) {
  nav {

    padding: 10px;
  }

  .main {
    width: 100%;
    max-width: 100%;
  }

  .card {
    margin: 5px;
  }

}

@media only screen and (max-width: 665px) {
  .box {
    flex-direction: column;
  }
}

@media only screen and (max-width: 645px) {
  nav {
    flex-direction: column;
    background-color: #191919;
  }

  nav ul {
    display: flex;
    flex-direction: column;

  }

  .header {
    width: 100%;
    height: 170vh;
    background-image: url(/img/mobilebg2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
    top: 231%;
    text-align: center;
    left: 20%;
  }

  h4 {
    letter-spacing: 2px;
    font-size: 18px;

  }

  h1 {

    margin: 15px 0 15px;
    font-size: 40px;

  }

  h3 {

    font-size: 25px;

  }

  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-text h2 {
    margin-top: 10px;
    font-size: 40px;
  }

  .services {
    padding: 40px 0px;
  }

  .about {
    padding: 100px 0px 0px;
  }

  .burger {
    display: block;
  }
  .h-nav-resp{
    height: 60px;
  }
  .v-class-resp{
    opacity: 0;
  }
  .h-nav-resp-hi{
    height: 380px;
  }
html,  body{
  overflow-x: hidden;
  max-width: 100%;
    
  }
}